*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

@font-face {
    font-family: 'Play';
    src: url("../public/static/fonts/Play/Play-Regular.ttf");
}

@font-face {
    font-family: 'Press Start 2P';
    src: url("../public/static/fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: 'Digital Numbers';
    src: url("../public/static/fonts/Digital_Numbers/DigitalNumbers-Regular.ttf");
}

:root {
	--black: #000;
	--background: #0B101D;
	--white: #fff;
	--primary-btn-hover-bg: rgba(255, 255, 255, 0.15);
	--list-even-bg: #303030;
	--modal-content-bg: #1c1c1c;
	--gray: rgba(255, 255, 255, 0.4);
}

body {
	background: var(--background);
	color: var(--white);
	font-family: sans-serif;
	height: 100vh;
}

.bg-wrapper {
	// background-image: url(/static/img/bandana-guy-and-coins.png), url(/static/img/2-Beans-B.png);
	background-position: left 100px bottom, right 100px bottom;
	background-repeat: no-repeat, no-repeat;
	height: 100%;
	padding: 40px 0;
	display: flex;
	flex-direction: column;

	@media (max-width: 1440px) {
		background-position: 0px bottom, right 170px;
		background-size: 550px;
	}
}

img {
	width: 100%;
	height: 100%;
	max-width: 100%;
}

button {
	cursor: pointer;
	border: none;
	outline: 0;
	background-color: transparent;
}

ul {
	list-style: none;
	margin: 0;
}

.coin-start-animation {
	width: 180px;
	height: auto;
	margin-top: -50px;
}

.coin-flip-animation {
	width: 260px;
	position: absolute;
	z-index: -1;
	bottom: -50px;
}